{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Search
{% endblock title %}

{% block content %}
    <h2>Поиск по новостям</h2>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти"/>
    </form>
    {% for post in search %}
     <div>
     {{ post.author.user.username }}
     {{ post.title|censor}}
     {{ post.time_create|date:'d.m.Y' }}
     {{ post.content|censor|truncatechars:20 }}
     </div>
    {% endfor %}
{% endblock content %}