<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Основные_атрибуты_практика</title>
</head>
	<body>
    	<p>Съешь ещё</p>
		<p><!--этих мягких--></p>
		<p><!--французских булок,--></p>
		<p>да выпей же</p>
		<p>чаю</p>
		<img title="Skillfactory"
		 	src="https://static.tildacdn.com/tild6539-3361-4761-a434-353330643930/skillfactory_logo_bl.svg" width="180" height="45">
    <ul>
  		<li><a href="https://www.google.ru" target="myframe">Google</a></li>
  		<li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
  		<li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
	</ul>

	<iframe src="http://example.com/" name="myframe"></iframe>
	</body>
</html>